/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
/* Utilities */
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");
body {
  background-color: white;
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
  color: black
}
.container{
  text-align: center;
  width: 900px;
  height: 400px;
  margin: 0 auto;
}