.banner{
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: cover;
}


.banner a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Noto Serif', serif;
  color:white;
  padding: 25px;
  background-color: rgb(246, 10, 10);
  border-radius: 10px;
}

.banner a:hover{
  background-color: rgb(199, 5, 5);
  transition: linear 1;
}

.banner h1{
  margin-top: 0px;
  font-size: 40px;
  padding: 20px;
  color: white;
}

.banner p{
  color: rgb(230, 230, 230);
  margin:0 0 60px 0;
  font-size: 30px;
  padding: 10px 0px 10;
  
}
.banner .container{
  padding-top: 40px;
}


