.cards{
  width: 400px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  margin: 0 10px;
  width: 60%;
  height: 100%;
  flex: 1 0 auto;
  border: solid 1px black;
}
.card img{
  width: 200px;
}