.footer{
  padding: 25px;
  background-color: rgb(184, 126, 18);
}
.list-inline{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  color: black;
}
.list-inline li{
  margin: 0px;
  margin: 0px 10px;
  font-size: 40px;
  color: black;
}
